.idea
logs
*.iml
.project
.classpath
.settings
*/target
*/.settings
*/.classpath
*/.project
*/*.iml
*/*.ipr
*/*.iws
*/build
.DS_Store
*/logs
*.log
target
*.myeclipse*
*.mymetadata*
*META-INFn*
*bin/*
local_output
*/src/main/webapp/static
metastore_db
*.hope
*.class
